<div class="todo-item">
    <title>Maruti Todo App</title>
    <p class="desc">Developing the Todo App in Ember using local Storage</p>
    <p>Jan 10,2018</p>
    <p>Status : <span>Pending</span></p>
</div> 
{{yield}}
